<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="849fce">  <td>17/01/27 19:08:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest()[pri:0, instance:com.selenium.gmail.testcases.LoginTest@704a52ec]">doLoginTest</td> 
  <td>main@1800890735</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/27 19:08:42</td>   <td>-50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.initialize()[pri:0, instance:com.selenium.gmail.testcases.LoginTest@704a52ec]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1800890735</td>   <td></td> </tr>
</table>
